<nav class="">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'home' %}"></a>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-4">
            <form class="form-inline my-2 my-lg-0 ml-auto">
                <div class="input-group">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                    <div class="input-group-btn">
                        <button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" type="submit">Search</button>
                    </div> 
                </div>
            </form>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-4"></div>
    </div>
</nav>