{% load bootstrap4 %}
{% load staticfiles %}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form action="{% url 'profile'%}" method="post">
        {%csrf_token%}
        {% bootstrap_form form layout="inline" %}

        <input type="submit" value="save profile" class="btn btn-success btn-lg">
        </form>
    </div>
    <div class="col-md-4"></div>
</div>

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% bootstrap_javascript %}
{% endblock %}