{% extends 'base.html' %}
{% load bootstrap4 %}


{% block content %}
<div class="container">
{% if images %}
{% for image in images %}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <!-- Card -->
        <div class="card">
            <div class="row">
                <div class="col-md-3">
                    <img src="{{ image.profile.profile_pic.url}}" width="100px" height="100px !important" class="rounded img-thumbnail" alt="">
                </div>
                <div class="col-md-9">
                    <p class="text-dark">{{image.user.username}}</p>
                </div>
            </div>
            <!-- Card image -->
            <img src="{{ image.image.url }}" class="img-thumbnail" alt="">

            <!-- Card content -->
            <div class="card-body">
                <form action="{% url 'home'%}" method="post">
                {% csrf_token %}
                {% bootstrap_form form layout="inline" %}
                
                <input type="submit" class="btn btn-primary" value="comment">

                </form>

            </div>

        </div>

    </div>
    <div class="col-md-2"></div>
</div>

{% empty %}
    <h3>No Posted Images</h3>
{% endfor %}
{% endif %}

</div>
{% endblock %}